{% extends "layout.html" %}

{% block title %}{{movie.name}}{% endblock %}

{% block content %}
    <div class="movie_detail">
        <h1>{{ movie.name }}</h1>
        <img src="{{ movie.image.url }}" alt="{{ movie.name }}">
        <p>
            Genre:
            {% for genre in movie.genres.all %}
                {{ genre.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                Not specified
            {% endfor %}
        </p>
        <p>Description: {{ movie.description }}</p>
        <p>Date Added: {{ movie.date_added }}</p>

       

        {% if movie.trailer_link %}
            <a href="{{ movie.trailer_link }}" id="btn" target="_blank">Watch Trailer</a>
        {% else %}
            <p>Trailer not available.</p>
        {% endif %}

        {% if in_watchlist %}
            <p>This movie is already in your watchlist.</p>
        {% else %}
            <form method="post" action="{% url 'add_to_watchlist' movie.id %}">
                {% csrf_token %}
                <button type="submit" id="btn">Add to Watchlist</button>
            </form>
        {% endif %}
        <a href="{% url 'movie' %}" id="btn">Back to Movies</a>
    </div>
{% endblock %}  