{% extends "layout.html" %}


{% block title %}Metflix-Movies{% endblock %}

{% block content %}
    <div class="hero">
        <h1></h1>
        <p></p>
        <div class = "posters">
            {% for movie in movies %}
                <div class="movie">
                    <img src="{{ movie.image.url }}" alt="{{ movie.name }}">
                    <h2>{{ movie.name }}</h2>
                    <p>
                        Genre:
                        {% for genre in movie.genres.all %}
                            {{ genre.name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            Not specified
                        {% endfor %}
                    </p>
                    <p>Release Date: {{ movie.release_date }}</p>
                    <p>Rating: {{ movie.rating }}</p>
                    <a href="{% url 'movie_detail' movie.id %}">
                        <button id="btn">Add to Watchlist</button>
                    </a>
                    <a href="{% url 'movie_detail' movie.id %}">
                        <button id="btn">View Details</button>
                    </a>
                    
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}