{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Django</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.8.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body class = "index">
    <header>
        <a href="#" class="logo"><img src="{% static 'logo.png' %}" alt="Logo image"></a>
            <nav class="navbar">
                <ul>
                    <li><a href="http://127.0.0.1:8000/" class="active">Home</a></li>
                    <li><a href="http://127.0.0.1:8000/about/">About</a></li>
                    <li><a href="http://127.0.0.1:8000/contact/">Contact</a></li>
                    <li><input type="text" id="search" placeholder="Search..." ><i class="fas fa-search"></i></li>  
                </ul>
            </nav>
    </header>
    <div class="main">  
        <h1>Welcome to Metflix</h1>
        <p>Discover your next favorite show!</p>
        <div id="buttons">
            <button id="btn">Get Started</button>
            <button id="btn">Explore More</button>
        </div>
    </div>
</body>
</html> 