{% extends "layout.html" %}

{% block title %}About - Metflix{% endblock %}

{% block content %}
    <div class="about">
        <h1>About Metflix</h1>
        <p>Welcome to Metflix, your one-stop destination for all your entertainment needs. We offer a wide range of movies and TV shows to keep you entertained for hours.</p>
        <p>Our platform is designed to provide you with the best viewing experience, with a user-friendly interface and high-quality streaming options.</p>
        <div id="buttons">
            <button id="btn">learn More</button>
        </div>
    </div>
{% endblock %}