{% extends "layout.html" %}

{% block title %}Contact - Metflix{% endblock %}

{% block content %}
    <div class="contact">
        <h1>Contact Us</h1>
        <p>If you have any questions or feedback, feel free to reach out to us!</p>
        <input type="text" id="name" placeholder="Your Name">
        <input type="email" id="email" placeholder="Your Email">
        <textarea id="message" placeholder="Your Message"></textarea>   

        <div id="buttons">
            <button id="btn">Get in Touch</button>
        </div>
    </div>
{% endblock %}